{% extends 'base/base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <form method="post">
        {% csrf_token %} 
        <div class="form-group">
        <fieldset class="form-group">
        {% if success %}
        <h2> The invitation was sent!!</h2>
        {% endif %} >
            <legend>Invite someone to organization</legend>
            </div>
          </fieldset>
        </div>
          Email: <input type="email" class="form-check-input" name="email" id="email">
            <input type="hidden" name="organization" id="organization" value="{{ organization }}">
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        <form>

</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

</div>

{% endblock %}
