{% extends 'base/base.html' %} {% block content %}
<title>Organization: {{ organization.organization }}</title>

<div class="container">
    <div class="col-xs-12">

    </div>
    <h1>Organization: {{ organization.organization }}</h1>
    
    {% if is_owner %}
    <input type="button" class="btn btn-info" value="Invite new member"
onclick="location.href = 'http://localhost:8000/organizations/invite?organization={{ organization.id }}';">

    <input type="button" class="btn btn-info" value="Create New Channel"
onclick="location.href = 'http://localhost:8000/channels/create?organization={{ organization.id }}';">
    <br>
    {% endif %}
    <h2>Channels</h2>
    {% if channels|length > 0 %}
    {% for c in channels %}
    <div class="form-check">
    <label class="form-check-label">
    <input type="button" class="btn btn-info" value="Enter to channel: {{c.channel}}"
onclick="location.href = 'http://localhost:8000/channels/channel?id={{ c.id }}';">
    </label>
    </div>
    {% endfor %}
    {% else %}
        There aren't any channels created in this organization yet.
    {% endif %}
    
</div>
{% endblock %}
